services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: floodpoint
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true